#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;
}

#align_li li{
    display: inline-block;
}

#align_li li::after{
	content:"|";
}
#align_li li:last-child::after{
	content:"";
}

